{% extends "index.html" %}

{% block title %} 
    <title>{{ school_name }}</title> 
{% endblock %}


{% block header %}
{% endblock %}

{% block main %}
<div class="row about-content">
    <div class="col-md-6">
        <div class="about-container container-md ml-4 w-75">
            <div class="content">
                <h4 style="color: #3B71CA">About</h4>
                <h2>findmy<span style="color: #24ace3">A</span><span style="color: #97ca4f">P</span></h2>
                <p class="mb-4">College credit is an extremely important factor to consider when applying to schools. According to College Board, AP credit can save you <b>"hundreds, if not thousands of dollars"</b> as it can substitute college-level courses for classes taken in high school. However, the search process for determining whether a student's AP scores grant them college credit can be tedious and prone to human error.</p>
                <p class="mb-4">findmyAP aims to streamline and automate this process so that students can have peace of mind when choosing college courses or even navigating the college search process. As a student-centered resource, it is built on the feedback of current and previous high school students. We encourage you to contact us at <a href="mailto:findmyapcontact@gmail.com" style="text-decoration: none;"><span style="color:#3B71CA">findmyapcontact@gmail.com</span></a> for any questions or concerns you may have.</p>
                <p class="mb-4">Created by <a href="https://www.linkedin.com/in/justin-kong-2a138a257/" target="_blank" style="text-decoration: none;"><span style="color:#3B71CA">Justin Kong</span></a>, a current student at Vanderbilt University. Inspired by <a href="https://www.ratemydorm.com/" target="_blank" style="text-decoration: none;"><span style="color:#3B71CA">RateMyDorm.com</span></a>.</p>
                <p class="mb-4">(Images provided by FreePik)</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center" style="margin-top: 50px">
        <img src="static/about.png" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>
</div>
<div class="question-container container-md ml-4 w-75">
    <div class="content">
        <h4 style="color: #3B71CA">How does it work?</h4>
        <p class="mb-4">findmyAP uses data from the official College Board AP credit search policy form on the main website that allows students to look up credit policies at schools. We scraped this data and created our own database and API that interacts with it to bring you your results quickly and dynamically.</p>
        <p class="mb-4"><b>We will never share your data.</b> Your data is stored within a cloud session that allows you to navigate the entire website without having to re-enter your course and score information multiple times. This data is temporarily stored and discarded when you leave the website. For more questions, please email <a href="mailto:findmyapcontact@gmail.com" style="text-decoration: none;"><span style="color:#3B71CA">findmyapcontact@gmail.com</span></a>.</p>
    </div>
</div>

{% endblock %}

{% block search %}
{% endblock %}

{% block content %}
{% endblock %}

{% block lowercontent %}
{% endblock %}

{% block footer %}
<footer>
    <div class="container-fluid" id="site-footer">
        <div class="row">
            <div class="col-auto d-flex align-items-end">
                <a href=/index class="logo"><h4>findmy<span style="color: #24ace3">A</span><span style="color: #97ca4f">P</span></a></h4>
            </div>
            <div class="col-6 d-flex align-items-end">
                <a href="/index" class="nav-link d-inline"><h5>Home</h5></a>
                <span style="margin-right: 10px;"></span>
                <a href="/about" class="nav-link d-inline"><h5>About</h5></a>
            </div>
            <div class="col d-flex align-items-center mb-1">
                <div class="ms-auto">
                    <a href="https://github.com/JKong05" target="_blank"><img src="static/github-mark.png" class="git-logo"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}